.small-6.columns
  .row.header
    .small-4.columns
      = image_tag 'profile.png'
    .small-8.columns
      %h2
        = link_to consultant.full_name, consultant_url(consultant.employee_id)
      %dl
        %dt Role
        %dd= consultant.primary_role
        %dt Home Office
        %dd= consultant.home_office
        %dt Working Office
        %dd= consultant.working_office