.row
  .small-4.columns
    .first-consultant-profile
      %h2= @consultant_one.full_name
      %dl
        %dt Role
        %dd= @consultant_one.primary_role
  .small-4.columns
    .summary
      .score
        %span.value 3.2
        of 5
      .score-visual
        = image_tag 'controllers.png'
        .score-bar{style: 'width: 64%;'} &nbsp;
      .summary-text You two should grab some coffee!
  .small-4.columns
    .second-consultant-profile
      %h2= @consultant_two.full_name
      %dl
        %dt Role
        %dd= @consultant_two.primary_role

.row
  .small-3.columns
  .small-6.columns

  .small-3.columns


