.row
  .small-4.columns
    .first-consultant-profile
      %h2= @consultant_one.full_name
      %dl
        %dt Role
        %dd= @consultant_one.primary_role
  .small-4.columns
    .summary
      .score
        %span.value= number_with_precision(@connection.score, precision: 2)
        of 5
      .score-visual
        = image_tag 'controllers.png'
        .score-bar{style: "width: #{@connection.score * 20}%;"} &nbsp;
      .summary-text You two should grab some coffee!
  .small-4.columns
    .second-consultant-profile
      %h2= @consultant_two.full_name
      %dl
        %dt Role
        %dd= @consultant_two.primary_role

.row.skill-diffs
  .small-1.columns &nbsp;
  .small-10.columns
    - @connection.intersecting_skills.each do |skill_diff|
      .skill-diff
        .row
          .small-5.columns
            .progress.small-12.round
              - perc = skill_diff.consultant_one_level.to_i * 20
              %span.meter{:style=>"width:#{perc}%; margin-left: #{100-perc}%;"}
          .small-2.columns
            %h5= skill_diff.name
          .small-5.columns
            .progress.small-12.round
              - perc = skill_diff.consultant_two_level.to_i * 20
              %span.meter{:style=>"width:#{perc}%"}
  .small-1.columns &nbsp;




