.row
  .small-10.columns
    %h1.office-name= @office.name
  .small-1.columns.home
    .home-button= link_to "Home", "/", {:style => 'color: #ffffff'}
.row
  .small-12.columns
    %ul.tabs{"data-tab"=>"", "data-options"=> "deep_linking:true"}
      %li.tab-title.active
        %a{:href => "#panel-skill_tab"} Skills
      %li.tab-title
        %a{:href => "#panel-github_groups"} Github Repos
      %li.tab-title
        %a{:href => "#panel-sponsorship-network"} Sponsorship Network

.row.tabs-content
  #panel-skill_tab.content.active
    .small-12.columns
      = render 'skill_tab', office: @office

  #panel-github_groups.content
    .small-12.columns
      = render 'github_groups', repo_groups: @office.git_repo_groups

  #panel-sponsorship-network.content
    .network_graph
      = render 'sponsorships', office_name: @office.name