%ul
  - @activities.each do |activity|
    .activities
      %li
        .small-3.columns
          .date
            = local_time_ago(activity[:created_at])
            %span.dot
              &#183;
        .small-9.columns
          .activity-details-container
            .activity-details
              .repo
                %ul
                  - activity.github_repository[:languages].each do |key, value|
                    %li.label= key
              .name
                = image_tag 'github.png'
                Pushed to 
                = link_to activity.github_repository[:repo_name], "//www.github.com/#{activity.github_repository[:repo_name]}"
