= form_tag '/sponsorship', class: "add_sponsee_form", remote: true, method: :put do
  = hidden_field_tag 'sponsee_full_name', connection.mentee.full_name
  = hidden_field_tag 'sponsor_id', connection.mentor.employee_id
  = submit_tag "Add Sponsee", class: "submit_sponsee", :id => "#{connection.mentee.full_name}"