= image_tag 'profile.png'
.name= link_to name, "/consultants/#{employee_id}"
.score
  = image_tag 'connections-32.png'
  = link_to number_with_precision(connection.score, precision: 2), "/connections/#{connection.mentor.employee_id}/and/#{connection.mentee.employee_id}"
%ul
  - connection.teachable_skills.each do |teachable_skill|
    %li.label= teachable_skill