- if consultant.has_skills_from_jigsaw?
  = render 'skills_to_learn', consultant: consultant
  .small-8.columns
    %ul.matches
      - mentors.take(5).each do |connection|
        %li{:id => "consultant_" + connection.mentor.employee_id}
          .mentor
            = render 'connection', connection: connection, name: connection.mentor.full_name, employee_id: connection.mentor.employee_id
            = render 'consultants/add_sponsor', connection: connection
- else
  .small-4.columns &nbsp;
  .small-8.columns
    = image_tag 'jigsaw-300.jpg'

.small-8.columns
  %ul.sponsor-search
    %li
      .mentor
        = form_tag '/sponsorship', remote: true, method: :put do
          = autocomplete_field_tag 'sponsor_full_name', '', sponsorship_autocomplete_consultant_full_name_path, placeholder: 'Search for Consultants', class: "sponsor_search"
          = hidden_field_tag 'sponsee_id', consultant.employee_id
          = submit_tag "Add Sponsor", class: "submit_sponsor", :id => "add_sponsor"
