= render 'consultant_skills', consultant: consultant
.small-8.columns
  %ul.matches
    - if sponsees.empty?
      %h4 "Couldn't find any matches"
    -else
      - sponsees.take(5).each do |connection|
        = render 'connection', connection: connection, sponsorship: true
.small-8.columns
  %ul.sponsee-search
    %li
      .mentor
        = form_tag '/sponsorship', remote: true, method: :put do
          = autocomplete_field_tag 'sponsee_full_name', '', sponsorship_autocomplete_consultant_full_name_path, placeholder: 'Search for Consultants', class: "sponsee_search"
          = hidden_field_tag 'sponsor_id', consultant.employee_id
          = submit_tag "Add Sponsee", class: "submit_sponsee", :id => "add_sponsee"