.row
  .small-12.columns
    .main-page-logo
      =image_tag 'connections-header.png'

.row
  .small-12.columns
    .search-box
      = form_tag '/consultants', method: :get do
        =autocomplete_field_tag 'full_name', '', consultants_autocomplete_consultant_full_name_path, placeholder: 'Search for Consultants'
- if @search_results
  .row
    .small-12.columns
      %ul
        - @search_results.each do |result|
          %li= link_to result.full_name, "/consultants/#{result.employee_id}"
.row
  .small-12.columns
  .text-center
    %a{:href=>"/about"} What is this?

.row
  .small-12.columns
  .text-center.explore
    %h2
      Explore
.row
  %ul.offices
    %li
      .label= link_to "San Francisco", "offices/San Francisco"
    %li
      .label= link_to "Chicago", "offices/Chicago"
    %li
      .label= link_to "Dallas", "offices/Dallas"
    %li
      .label= link_to "Atlanta", "offices/Atlanta"
    %li
      .label= link_to "New York", "offices/New York"