.consultant-show
  .row.header
    .small-4.columns
      = image_tag 'profile.png'
    .small-5.columns
      %h2 #{@consultant.full_name}
      %dl
        %dt Role
        %dd= @consultant.primary_role
        %dt Home Office
        %dd= @consultant.home_office
        %dt Working Office
        %dd= @consultant.working_office
    .small-3.columns.contact
      - if !@contact.nil?
        .contact-entry
          = link_to image_tag('github.png'), "//www.github.com/#{@contact.github_account}", :target => "_blank"
          .text github
  .row
    .small-4.columns &nbsp;
    .small-8.columns
      %ul.tabs{"data-tab"=>"", "data-options"=> "deep_linking:true"}
        %li.tab-title.active
          %a{:href => "#panel-mentors", :id => "mentors-tab"} Mentors
        %li.tab-title
          %a{:href => "#panel-mentees", :id => "mentees-tab"} Mentees
        %li.tab-title
          %a{:href => "#panel-sponsorship", :id => "sponsorship-tab"} Sponsorship

  .row.tabs-content
    #panel-mentors.content.active
      = render 'mentors', consultant: @consultant, mentors: @mentors

    #panel-mentees.content
      = render 'mentees', consultant: @consultant, mentees: @mentees

    #panel-sponsorship.content
      = render 'sponsorship', consultant: @consultant, sponsees: @sponsees
