.consultant-show
  .row.header
    .small-4.columns
      = image_tag 'profile.png'
    .small-5.columns
      %h2 #{@consultant.full_name}
      %dl
        %dt Role
        %dd= @consultant.primary_role
        %dt Home Office
        %dd= link_to @consultant.home_office, "/offices/#{@consultant.home_office}"
        %dt Working Office
        %dd= link_to @consultant.working_office, "/offices/#{@consultant.working_office}"
    .small-3.columns.contact
      .row
        - if !@contact.nil?
          .contact-entry
            = render 'github_contact', contact: @contact
        - else
          .contact-entry.github
            .add-github-username
              .github-image
                = image_tag('github.png')
                .text.github-text link github
              .add-symbol
                .fa.fa-plus-circle

        .contact-entry
          = link_to "//jigsaw.thoughtworks.com/consultants/#{@consultant.employee_id}", :target => "_blank" do
            = image_tag('jigsaw.png')
            .text jigsaw

        .home-button= link_to "Home", "/", {:style => 'color: #ffffff'}

      .row.add-username-form
        = form_tag '/contact', remote: true, method: :put do
          = hidden_field_tag :employee_id, @consultant.employee_id
          = text_field_tag :github_account, "", placeholder: 'github username'
          = submit_tag "Add", class: "submit_contact"

      .row.errors
        .alert


  .row
    .small-4.columns &nbsp;
    .small-8.columns
      %ul.tabs{"data-tab"=>"", "data-options"=> "deep_linking:true"}
        %li.tab-title.active
          %a{:href => "#panel-mentors", :id => "mentors-tab"} Mentors
        %li.tab-title
          %a{:href => "#panel-mentees", :id => "mentees-tab"} Mentees
        %li.tab-title
          %a{:href => "#panel-peers", :id => "peers-tab"} Peers

  .row.tabs-content
    #panel-mentors.content.active
      = render 'mentors', consultant: @consultant, mentors: @mentors, sponsors: @sponsors

    #panel-mentees.content
      = render 'mentees', consultant: @consultant, mentees: @mentees, sponsees: @sponsees

    #panel-peers.content
      = render 'peers', consultant: @consultant, peers: @peers
