.consultant-show
  .row.header
    .small-4.columns
      = image_tag 'profile.png'
    .small-8.columns
      %h2 #{@consultant.full_name}
      %dl
        %dt Role
        %dd= @consultant.primary_role
        %dt Home Office
        %dd= @consultant.home_office
        %dt Working Office
        %dd= @consultant.working_office
  .row
    .small-4.columns &nbsp;
    .small-8.columns
      %ul.tabs{"data-tab"=>""}
        %li.tab-title
          %a{:href => "#panel-activities"} Activities
        %li.tab-title.active
          %a{:href => "#panel-mentors"} Mentors
        %li.tab-title
          %a{:href => "#panel-mentees"} Mentees

  .row.tabs-content
    #panel-activities.content
      %ul
        - @activities.each do |activity|
          .activities
            %li
              .small-4.columns
                .date
                  = local_time_ago(activity[:created_at])
              .small-8.columns
                .vertical_line
                  .activity_details
                    .name
                      Github 
                      = activity[:type]
                    .repo
                      = activity[:repo_name]
                    %ul
                      - activity[:languages].each do |key, value|
                        %li.label= key

    #panel-mentors.content.active
      .small-4.columns
        %h3.skills-header
          = @consultant.full_name.split.first
          wants to learn
        %ul.skills
          - @consultant.skills_to_learn.sort.each do |skill|
            %li
              .label= skill
      .small-8.columns
        %ul.matches
          - @mentors.take(5).each do |connection|
            %li
              .mentor
                = image_tag 'profile.png'
                .name= link_to connection.mentor.full_name, "/consultants/#{connection.mentor.employee_id}"
                .score
                  = image_tag 'connections-32.png'
                  = link_to number_with_precision(connection.score, precision: 2), "/connections/#{connection.mentor.employee_id}/and/#{connection.mentee.employee_id}"
                %ul
                  - connection.teachable_skills.each do |teachable_skill|
                    %li.label= teachable_skill

    #panel-mentees.content
      .small-4.columns
        %h3.skills-header
          = @consultant.full_name.split.first
          can teach
        %ul.skills
          - @consultant.skills_to_teach.sort.each do |skill|
            %li
              .label= skill
      .small-8.columns
        %ul.matches
          - @mentees.take(5).each do |connection|
            %li
              .mentor
                = image_tag 'profile.png'
                .name= link_to connection.mentee.full_name, "/consultants/#{connection.mentee.employee_id}"
                .score
                  = image_tag 'connections-32.png'
                  = link_to number_with_precision(connection.score, precision: 2), "/connections/#{connection.mentor.employee_id}/and/#{connection.mentee.employee_id}"
                %ul
                  - connection.teachable_skills.each do |teachable_skill|
                    %li.label= teachable_skill


