.consultant-show
  .row
    .small-4.columns
      = image_tag 'profile.png'
    .small-8.columns
      %h2 #{@consultant.full_name}
      %h3 Role: #{@consultant.primary_role}
      %h3 Home Office: #{@consultant.home_office}
      %h3 Working Office: #{@consultant.working_office}
  .row
    .small-8.columns
      Matches
      %ul
        - @connections.take(3).each do |connection|
          %li
            .mentor
              = connection.mentor.full_name
              %ul
                - connection.teachable_skills.each do |teachable_skill|
                  %li= teachable_skill


    .small-4.columns
      %ul
        - @consultant.skills_to_learn.each do |skill|
          %li= skill
