!!!
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    =stylesheet_link_tag 'application.css'
  %body
    .row
      .small-6.columns
        .main-page-logo
          = image_tag(asset_path('connections-header.png'))
    .connection-message
      %h2
        Hey,
        = @consultant.full_name
    -if @consultant.has_skills_from_jigsaw?
      We noticed you're motivated to learn and we think you should reach out to these ThoughtWorkers. They may be able to help you sharpen some skills.
      %br
      %ul
        -@mentors.each do |connection|
          %li
            %strong
              %a{ :href => "mailto:#{connection.mentor.email}?subject=Lets grab coffee!" }=connection.mentor.full_name
            %br
            =connection.teachable_skills.to_sentence
      -if !@mentees.empty?
        You're pretty smart yourself, these ThoughtWorkers could benefit from your knowledge!
        %br
        %ul
          -@mentees.each do |connection|
            %li
              %strong
                %a{ :href => "mailto:#{connection.mentee.email}?subject=Lets grab coffee!"}=connection.mentee.full_name
              %br
              =connection.mentor.skills_to_teach.to_sentence
    -else
      We tried to connect you with some ThoughtWorkers we think you should meet, but you haven't added any skills to your Jigsaw profile. Fill out your skills so we can find you interesting ThoughtWorkers to meet!
    .row
      Interested in learning more about our app or helping out? Check out our
      = link_to "mythoughtworks page", "https://my.thoughtworks.com/groups/connections"
      for more information!
